body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    background-color: #A08ae5; 
    
}
#sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 50px;
    z-index: 2;
}

#sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 50px;
    z-index: 2;
}

#content {
    margin-left: 200px;
    margin-right: 200px; 
    padding: 20px;
    padding-top: 50px;
}
#content-2 {
    margin-left: 200px;
    margin-right: 200px; 
    padding: 20px;
    
    padding-top: 50px;
}

#sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 50px;
    z-index: 2;
}

#sidebar-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-left ul li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

#sidebar-left ul li a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.6s ease;
    display: block;
}

#sidebar-left ul li a:hover {
    background-color: #555;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #91b5a9;
}

tr:nth-child(odd) {
    background-color: #8cb9c9;
}

th {
    background-color: green;
    color: white;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: -60px;
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
ul{
    list-style-type: none;
}
.container ul li a{
    color: green ;
    text-decoration: none;

}
.container ul li:hover{
    color: green;
    background-color: #555;
}
h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
input:focus {
    background-color:#d29bfd;
    outline: none; 
}



